
<p class="text">Digite um tema para gerar uma piadinha</p>
<form class="form" action="/request" method="get">
    <input type="text" name="tema" id="tema">
    <input type="submit" value="Gerar" class="button">
</form>